
.fa {
  padding: 5px;
   font-size: 20px;
   width: 20px;
   text-align: center;
   text-decoration: none;
   margin: 5px 2px;
 }

 .fa:hover {
     opacity: 0.7;
 }

 .fa-facebook {
   background: #3B5998;
   color: white;
 }

 .fa-twitter {
   background: #55ACEE;
   color: white;
 }

 .fa-google {
   background: #dd4b39;
   color: white;
 }

 .fa-linkedin {
   background: #007bb5;
   color: white;
 }

 .fa-instagram {
   background: #125688;
   color: white;
 }


 #loader-wrapper {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   z-index: 99999;
   background: #fff;
   overflow: hidden;
 }
 #preloader_1{
   position: absolute;
   left: 50%;
   margin-left: -25px;
   top: 50%;
   transform: translateY(-50%);
 }
 #preloader_1 span{
   display:block;
   bottom:0px;
   width: 6px;
   height: 5px;
   background:#e04f5d;
   position:absolute;
   animation: preloader_1 1.5s  infinite ease-in-out;
 }

 #preloader_1 span:nth-child(2){
 left:11px;
 animation-delay: .2s;

 }
 #preloader_1 span:nth-child(3){
 left:22px;
 animation-delay: .4s;
 }
 #preloader_1 span:nth-child(4){
 left:33px;
 animation-delay: .6s;
 }
 #preloader_1 span:nth-child(5){
 left:44px;
 animation-delay: .8s;
 }
 @keyframes preloader_1 {
     0% {height:5px;transform:translateY(0px);background:#e62d3f;}
     25% {height:30px;transform:translateY(15px);background:#e62d3f;}
     50% {height:5px;transform:translateY(0px);background:#ee2438;}
     100% {height:5px;transform:translateY(0px);background:#ee2438;}
 }

  body {
   font-family: 'Raleway', sans-serif;
   font-weight: normal;
   color:#6f6f6f;
   font-size: 14px;
   position: relative;
  }
 .main-page-wrapper {
   overflow-x:hidden;
 }
  h1,h2,h3,h4,h5,h6,p,ul { margin:0;padding: 0;}
  h1,h2,h3,h4,h5,h6 {color:#292929; text-transform: uppercase;font-weight: 700;}
  h1 {font-size: 48px;}
  h2 {font-size: 36px;}
  h3 {font-size: 28px;}
  h4 {font-size: 24px;}
  h5 {font-size: 22px;}
  h6 {font-size: 18px;}
  p {line-height: 26px;}
  ul {list-style-type: none;}
  a {text-decoration: none; display: inline-block;}
  a:hover,a:focus,a:visited {text-decoration: none; outline: none;}
  img {max-width: 100%; display: block;}

  button {border:none;outline: none;box-shadow: none;display: block; padding: 0;}
  input,textarea {outline: none; box-shadow: none;-webkit-transition: all 0.3s ease-in-out;-o-transition: all 0.3s ease-in-out;transition: all 0.3s ease-in-out;}


 .clear-fix { clear:both;}
 .clear-fix:after {
   display: table;
   content: '';
   clear: both;
  }
 .tran3s {
   -webkit-transition: all .3s ease-in-out;
      -moz-transition: all .3s ease-in-out;
       -ms-transition: all .3s ease-in-out;
        -o-transition: all .3s ease-in-out;
           transition: all .3s ease-in-out;
  }
 .tran4s,#service-section .single-service-content p,#project-section .project-gallery .single-img .opacity ul,
 #project-section .project-gallery .single-img .opacity h6 a {
   -webkit-transition: all .4s ease-in-out;
      -moz-transition: all .4s ease-in-out;
       -ms-transition: all .4s ease-in-out;
        -o-transition: all .4s ease-in-out;
           transition: all .4s ease-in-out;
  }
 .float-left {float:left;}
 .float-right {float:right;}
 .round-border {
   border-radius: 50%;
   -moz-border-radius: 50%;
   -webkit-border-radius: 50%;
   -o-border-radius: 50%;
   -ms-border-radius: 50%;
 }
 .theme-title {
   text-align: center;
   margin: 95px 0 0 0;
 }
 .theme-title h2 {
   position: relative;
 }
 .theme-title h2:before {
   content: '';
   width: 25px;
   height: 3px;
   position: absolute;
   bottom: -25px;
   left: 50%;
   margin-left: -12px;
 }
 .theme-title p {
   font-size: 16px;
   width: 75%;
   margin: 60px auto 0 auto;
 }
 .icon-heading .icon,.icon-heading h6 a {
   color:#d73e4d;
 }
 .p-color-bg {
   background: #d73e4d;
 }

 #contact-section .contact-address-content h2 {
   margin: 95px 0 35px 0;
 }
 #contact-section .contact-address-content .left-side ul {
   margin-top: 70px;
 }
 #contact-section .contact-address-content .left-side ul li{
   position: relative;
   padding-left: 85px;
   margin-bottom: 50px;
 }
 #contact-section .contact-address-content .left-side ul li h6 {
   font-size: 14px;
   margin-bottom: 8px;
 }
 #contact-section .contact-address-content .left-side ul li .icon {
   width: 60px;
   height: 60px;
   border-width: 1px;
   position: absolute;
   left:0;
   top:-9px;
   text-align: center;
   line-height: 60px;
   color: #fff;
   font-size: 30px;
 }
 #contact-section .contact-address-content .left-side ul li:hover .icon {
   background: #fff;
 }
 #contact-section .contact-address-content #map {
   width: 100%;
   height: 500px;
 }
 #contact-section .send-message {
   padding: 0 15px;
 }
 #contact-section .send-message h2 {
   margin: 50px 0 40px 0;
 }
 #contact-section .send-message .single-input {
   margin-bottom: 20px;
   height: 50px;
 }
 #contact-section .send-message .single-input input,
 #contact-section .send-message form textarea {
   width: 100%;
   height: 100%;
   border:1px solid #dfdfdf;
   padding: 0 15px;
 }
 #contact-section .send-message form textarea {
   height: 260px;
   max-width: 100%;
   max-height: 260px;
   margin-bottom: 25px;
   padding: 20px 15px;
 }
 #contact-section .send-message .single-input input:focus,
 #contact-section .send-message form textarea:focus {
   border-color: #424040;
 }
 #contact-section .send-message form button {
   width: 140px;
   line-height: 40px;
   text-align: center;
   color:#fff;
   text-transform: uppercase;
   border-width: 1px;
 }
 #contact-section .send-message form button:hover {
   background: #fff;
 }

 footer {
   margin: 100px 0 0 0;
   background: #1e1e1e;
   padding: 60px 0 25px 0;
   text-align: center;
 }

 .float{
   width:40px;
   height:40px;
   background-color:#25d366;
   color:#FFF;
   border-radius:20px;
   text-align:center;
   font-size:30px;
   box-shadow: 2px 2px 3px #999;
 }
