<div id="profile-section">
  <div class="container">
    <div class="clear-fix profile-content">
      <div class="col-12">
        <h2>Profile</h2>
        <p>We believe people are shaped by the spaces they live in. A carefully considered and planned space, inside or
          out, educes positive human emotion. Through innovative thinking and exceptional standards our aim is to always
          enrich the way people live, work and play. We view architecture and interior design as a responsibility: to
          create enriching spaces.
          With 10 years behind us and many years ahead, our focus is always on ensuring our clients’ briefs are met. We
          are fully aware and involved with each projects requirement, meaning that nothing is lost in the translation
          from initial brief to final completion.</p>
      </div>
      <hr>
      <div class="row justify-content-md-center">
        <div class="card col-md-6">
          <img class="card-img-top" style="width: 18rem; height: 20rem;" src="/../../assets/img/profile/profile-1.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Shweta Rahul Jagtap</h5>
            <p class="card-text">Principal Partner <br>B.Arch (PGP in project management) <br> +91 9763704859</p>
          </div>
        </div>
        <div class="card col-md-6">
          <img class="card-img-top" style="width: 18rem; height: 20rem;" src="/../../assets/img/profile/profile-2.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Abhay Narendra Deshmukh</h5>
            <p class="card-text">Principal Partner <br> M. Arch (Environmental Architecture) <br> +91 8055090908</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
